name: keuangan_toko
description: Aplikasi manajemen keuangan toko Flutter + Firebase

publish_to: 'none'

environment:
  sdk: '>=3.9.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  sqflite: ^2.3.0
  path: ^1.9.0


dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
